<form id="search-deed-form" action="/deed/search" method="POST">
    <div class="form-group">
        <label class="form-label" for="deed-ref">Reference number</label>
        <input id="deed-ref" class="form-control" type="text" name="deedRefNumber">
    </div>
    <div class="form-group">
        <input type="submit" class="button" value="Search">
    </div>
</form>

