<main id="content" role="main">

  <div class="inner-block">

		<div class="text">
			<p>loren ipsum</p>

			<p>
				<a href="/deed/search" class="button button-get-started">Start now</a>
			</p>
		</div>

	</div>

</main>
