<div class="alert-inline">
    <p>This is a legal document — please check all details carefully before signing.</p>
</div>

<article class="deed-document--bounds">
    <h2 class="heading-large">Mortgage deed</h2>

    <div>
        <h2 class="heading-medium">Property:</h2>

        <p itemscope="" itemtype="http://schema.org/PostalAddress">
            <span id="property-address" itemprop="streetAddress">
                {{deed.land_property.address.street_address}}<br>
                {{deed.land_property.address.extended_address}}<br>
            </span>
            <span itemprop="addressLocality">{{deed.land_property.address.locality}}</span><br>
            <span itemprop="addressPostalCode">{{deed.land_property.address.postal_code}}</span><br>
        </p>

        <dl class="definition-inline">
            <dt>Title number</dt>
            <dd id="title-number">{{deed.land_property.title_no}}</dd>
        </dl>
    </div>
    <div class="text">
        <h3 class="heading-small">Effective date and time:</h3>

        <p>{{deed.effective_clause}}</p>
    </div>
    <div>
        <div>
            <h2 class="heading-medium">Lender:</h2>
        </div>

        <p itemscope="" itemtype="http://schema.org/Corporation">
            <span id="lender-name" itemprop="name">
                {{deed.lender.name}}
            </span>
            <br>
            <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" class="address-inline">
                <span itemprop="streetAddress">
                    {{deed.lender.address.street_address}}, {{deed.lender.address.extended_address}},
                </span>
                <span itemprop="addressLocality">
                    {{deed.lender.locality}}
                </span>
            </span>
        </p>

        <dl class="definition-inline">
            <dt>Company registration number</dt>
            <dd>{{deed.lender.company_no}}</dd>
        </dl>
    </div>

    <h2 class="heading-large">Mortgage agreement</h2>

    <div>
        <h3 class="heading-medium">Borrowers:</h3>

        <div class="grid-row">
            {{#deed.borrowers}}
                <div class="column-third borrower">
                    <p>
                        <span class='borrower-name'>
                            <b>{{name}}</b>
                        </span><br>
                        <span class="borrower-address">
                            {{#address}}
                                <span>
                                    {{.}}<br>
                                </span>
                            {{/address}}
                        </span>
                    </p>
                </div>
            {{/deed.borrowers}}
        </div>
    </div>

    <div class="text" id="clauses-and-provisions">
        <h3 id="charging-clause" class="heading-small">Charging clause:</h3>

        <p>{{deed.charging_clause}}</p>
        {{#has_restriction}}
            <h3 id="restrictions" class="heading-small">Restrictions:</h3>
            <ul class="list-bullet">

                {{#deed.restrictions}}
                    <li>{{.}}</li>
                {{/deed.restrictions}}
            </ul>
        {{/has_restriction}}
        {{#has_provision}}
            <h3 id="additional-provisions" class="heading-small">Additional provisions:</h3>
            <ul class="list-bullet">
                {{#deed.provisions}}
                    <li>{{.}}</li>
                {{/deed.provisions}}

            </ul>
        {{/has_provision}}
    </div>

    <div class="text" id="borrower-electronic-signature">
        <h3 id="electronic-signature" class="heading-small">Borrower electronic signature(s):</h3>
            <ul class="list-bullet">
                {{#deed.names_signed}}
                    <li>{{.}}</li>
                {{/deed.names_signed}}
            </ul>
    </div>

    <div class="text">
        <div class="deed-document--divider">
            <p class="font-xsmall">Mortgage deed reference MD859K.</p>
        </div>
    </div>
</article>

{{#deed.signing_borrower_signed}}
<p>This mortgage deed has already been signed.</p>
{{/deed.signing_borrower_signed}}

{{^deed.signing_borrower_signed}}
<form id="sign-deed" action="/deed/sign" method="POST">
    <div class="form-group">
        <label class="form-label" for="deed-ref">Name</label>
        <input id="user-name" class="form-control" type="text" name="borrowerName">
    </div>
    <div class="form-group">
        <input type="submit" class="button" value="Sign the deed">
    </div>
</form>
{{/deed.signing_borrower_signed}}
