<div class="alert-inline">
    <p>This is a legal document — please check all details carefully before signing.</p>
</div>

<article class="deed-document--bounds">
    <h2 class="heading-large">Mortgage deed</h2>

    <div>
        <h2 class="heading-medium">Property:</h2>

        <p itemscope="" itemtype="http://schema.org/PostalAddress">
            <span id="property-address" itemprop="streetAddress">
                {{land_property.address.street_address}}<br>
                {{land_property.address.extended_address}}<br>
            </span>
            <span itemprop="addressLocality">{{land_property.address.locality}}</span><br>
        </p>

        <dl class="definition-inline">
            <dt>Title number</dt>
            <dd id="title-number">{{land_property.title_no}}</dd>
        </dl>
    </div>

    <div>
        <div>
            <h2 class="heading-medium">Lender:</h2>
        </div>

        <p itemscope="" itemtype="http://schema.org/Corporation">
            <span id="lender-name" itemprop="name">
                {{lender.name}}
            </span>
            <br>
            <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" class="address-inline">
                <span itemprop="streetAddress">
                    {{lender.address.street_address}}, {{lender.address.extended_address}},
                </span>
                <span itemprop="addressLocality">
                    {{lender.locality}}
                </span>
            </span>
        </p>

        <dl class="definition-inline">
            <dt>Company registration number</dt>
            <dd>{{lender.company_no}}</dd>
        </dl>
    </div>

    <h2 class="heading-large">Mortgage agreement</h2>

    <div>
        <h3 class="heading-medium">Borrowers:</h3>

        <div class="grid-row">
            {{#borrowers}}
                <div class="column-third">
                    <p>
                        <span id='borrower-name-{{index}}'>
                            <b>{{forename}} {{surname}}</b>
                        </span><br>
                        <span id="borrower-address-{{index}}">
                        {{address.street_address}}<br>
                            {{address.extended_address}}<br>
                            {{address.locality}}<br>
                            {{address.postal_code}}<br>
                        </span>
                    </p>
                </div>
            {{/borrowers}}
        </div>
    </div>

    <div class="text" id="clauses-and-provisions">
        <h3 id="charging-clause" class="heading-small">Charging clause:</h3>

        <p>You, the borrower, with full title guarantee, charge property to the lender by way of legal mortgage with the
            payment of all money secured by this charge.</p>

        <h3 id="additional-provisions" class="heading-small">Additional provisions:</h3>
        <ul class="list-bullet">
            <li>
                <p>This Mortgage Deed incorporates the <a href="#" rel="external">Lenders Mortgage Conditions and
                    Explanation 2006</a>, a copy of which has been received by the Borrower.</p>
            </li>
            <li>
                <p>The lender is under an obligation to make further advances and applies for the obligation to be
                    entered in the register.</p>
            </li>
            <li>
                <p>No disposition of the registered estate by the proprietor of the registered estate is to be
                    registered without a written consent signed by Bank of England Plc.</p>
            </li>
        </ul>
    </div>

    <div class="text">
        <h3 class="heading-small">Effective date and time:</h3>

        <p>This charge takes effect when the registrar receives notification from Bailey &amp; Co Solicitors, who
            prepared this charge. The effective date and time is applied by the registrar on completion.</p>

        <div class="deed-document--divider">
            <p class="font-xsmall">Mortgage deed reference MD859K.</p>
        </div>
    </div>
</article>


<form id="sign-deed" action="/deed/sign" method="POST">
    <div class="form-group">
        <label class="form-label" for="deed-ref">Name</label>
        <input id="user-name" class="form-control" type="text" name="userName">
    </div>
    <div class="form-group">
        <input type="submit" class="button" value="Sign the deed">
    </div>
</form>