[Unit]
Description=Charges borrower frontend
StopWhenUnneeded=true

[Service]
WorkingDirectory=/opt/borrower_frontend
Environment=PORT=5000
ExecStart=/bin/bash -lc './bin/run.sh'
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=process
Type=forking
