[Unit]
Description=Start the Charges Borrower Frontend

[Service]
WorkingDirectory=/opt/borrower_frontend
Type=forking
ExecStart=/bin/bash -c './bin/run.sh'
KillMode=process

[Install]
WantedBy=multi-user.target
