[Unit]
Description=Start the Charges Borrower Frontend

[Service]
PIDFile=/var/run/borrower_frontend.pid
WorkingDirectory=/opt/borrower-frontend
Type=simple
ExecStart=/bin/bash -c './bin/run.sh'
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
